*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-image: url(checklist1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}
.container {
  position:relative;
  display: block;
  height:100vh;
   /*cuando width no funciona. Usar max o min-width*/
  margin-top:20px;
  justify-content:center;
  align-items:center; 
}
/* ***************CODIGO TODO LIST-POPUP********************************/
.app{
  position:relative;
  background:linear-gradient(139deg,rgb(106, 169, 148,.5) 0%,rgb(8, 82, 57,.5) 90%);
  margin-top:30px;
  box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
  border-radius: 8px;
  padding:15px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}
.completedcheck{
  text-decoration: line-through;
  opacity: 0.5;
}
.mb-3{
  animation: verde-neon 6s infinite alternate;
  font-weight: 700;
  text-align:center;
  font-size: 50px;
  letter-spacing: .2rem;
}
#addNew{ 
  color:#fff;
  background:rgba(13, 145, 33, 0.6); 
  box-shadow: 0.5rem 0.5rem rgba(0,0,0,0.1);
  padding:5px 10px;
  border-radius:5px;
  cursor:pointer;
  width:44%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:30px; 
}
#addNew:hover{
  transform:translate(0px, -12px);
  background:rgb(11, 140, 30); 
}
#addNew p{
  font-weight: bolder;
  font-size:21px;
  width:50%;
  letter-spacing: .2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:10px 0px 5px;
}
.fa-plus{
  position:relative;
  background-color: #1f4068;
  color:#e33e5a;
  padding:8px;
  border-radius:5px;
  margin-left:20px;
}
#tasks{
  display:grid;
  grid-template-columns:1fr;
  grid-gap:14px;
  counter-reset:my-counter;
  margin-top:20px;
}
#tasks div{
  border:3px solid #1f4068;
  background:rgba(163, 221, 171, 0.5); 
  color:white;
  border-radius:10px;
  padding:5px;
  display:grid;
  grid-gap:4px;
  width: 95%;
  counter-increment:my-counter;
  margin-left: auto;
  margin-right: auto; 
}
#tasks div::before{
  content:counter(my-counter);
  background:rgb(8, 82, 57);
  width: 2rem;
  height: 2rem;
  font-weight:bolder;
  border-radius:50%;
  display:inline-block;
  line-height: 2rem;
  text-align: Center;
  color:#fff;
  margin-left: 1.2rem;
}
.fw-bold{
  color:#045f1d;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-left: 1.2rem;
}
.text-secondary{
  text-decoration-color:rgb(15, 14, 14);
  font-size: 18px;
  font-weight: bolder;
  width:11%;
  text-align: center;
  border-radius: 15px;
  background-color:rgb(215, 193, 193, 0.5);
  margin-left: 1.2rem; 
}
#tasks div p{
  width:79%;
  overflow:auto;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 1.2rem;
}
#tasks div .options{
   position:relative;
   justify-self:right;
   margin-top: -40px;
   margin-right: 15px;
   display:flex;
   grid-gap:30px; 
}
#tasks div .options i{
   cursor:pointer;
}
#tasks div .options .fa-edit{
   color:#045f1d;
   font-size: 25px;
   font-weight: bolder;
}
#tasks div .options .fa-trash-alt{
  color:#970820;
  font-size: 25px;
  font-weight: bolder; 
}
#tasks div .options .fa-check{
  color:#3b07d5;
  font-size: 25px;
  font-weight: bolder;
}
/*************************MODAL********************************************/
.modal-content{
  background:linear-gradient(139deg,rgb(106, 169, 148,.3) 0%,rgb(8, 82, 57,.3) 90%);
  color:white;
}
.modal-title{
  font-size: 22px;
  animation: verde-neon 6s infinite alternate;
  margin-left: 30%; 
}
.btn-close{
  font-size: 18px;
  background-color:rgb(215, 193, 193, 0.5);
  font-weight: bolder;
}
.modal-body p{
  font-weight: bolder;
  font-size:21px;
  letter-spacing: .4rem;
  margin-bottom:3px;
}
.form-control{
  font-size:20px;
  font-weight:bold;
}
#textInput{
  background:rgba(11, 77, 55, 0.3);
  color:white;
}
#dateInput{
  background:rgba(11, 77, 55, 0.3);
  color:white;
}
#textarea{
  background:rgba(11, 77, 55, 0.3);
  color:white;
  resize: none; 
}
.btn-secondary{
  background:#970820;
  color:white;
  font-weight: bolder;
  padding:10px;
  border-radius:10px;
}
.btn-primary{
  background:#08970a;
  color:white;
  font-weight: bolder;
  padding:10px;
  border-radius:10px;
}
.btn-secondary:hover{
  transform:translate(0px, -9px);
  background:rgba(114, 16, 1, 0.7); 
}
.btn-primary:hover{
  transform:translate(0px, -9px);
  background:rgba(6, 166, 19, 0.7);
}
.text-center{
  color:white;
  font-weight: bolder;
  font-size:28px;
}
    /**************************/
    /***** Countdown Timer ****/
    /**************************/
    
    /* div - containerreloj*/
    .containerreloj{  
      position:relative;
      color:white;
      font-weight:bolder;
      width:100%;
      border-radius:5px;
      justify-content:center;
      background-image: url(countdown3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      margin-top:40px; 
    }
    .input-container{
      position:relative;
      top:20px; 
    }
    .customh1{
      font-size:35px;
      font-weight:bolder;
      text-align:center;
      margin-top:0;
      margin-bottom:10px;
      animation: verde-neon 6s infinite alternate;
      letter-spacing: .2rem;
    }
    .form{ 
      width:80%;
      margin-left:auto;
      margin-right:auto;
      top:90px;
    }
    .formlabel{
      display:block;
      font-weight:bolder;
      font-size: 24px;
      margin-left:110px;
      position:relative;
      top:37px;
    }
    #title{
      font-weight: bolder;
      font-size: 20px;
      margin-left:90px;
      color: #0d110e;
    }
    #date-picker{
      font-weight: bolder;
      font-size: 20px;
      margin-left:90px;
    }
    .inputtitle{
      position:relative;
      width:80%;
      margin-bottom:10px;
      padding:10px;
      padding-left: 40px;
      border:1px solid #ccc;
      border-radius:20px;
      background:rgb(232, 171, 171, 0.3);
      outline:none;
      color: #0d110e;
      margin-top:40px;  
    }
    .buttoncountdown{
      width:40%;
      height:40px;
      border-radius:20px;
      margin-top:50px;
      margin-bottom:40px;
      border:none;
      background:#06927d;
      opacity:0.7;
      color:white;
      font-weight:bolder;
      cursor:pointer;
      outline:none;
      transition:all 0.2s ease-in;
      margin-left: 30%; 
    }
    .buttoncountdown:hover{
      /*filter:brightness(170%);*/
      background-color: #073614;
      transform:translate(-12px)
    }
    .buttoncountdown:active{
      transform:scale(0.99);
    }
    /* div - CountDown*/
    .countdown{
      min-height:100%; 
    }
    .countdown-title{
      position:relative;
      width:50%;
      animation: verde-neon 6s infinite alternate;
      font-weight: bolder;
      font-size: 50px;
      text-align: center;
      margin-left:auto;
      margin-right: auto;
      min-height: 200px;
      position:relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ulCount{
      width:70%;
      height:180px;
      margin-top:5px;
      margin-left: auto;
      margin-right: auto;
    }
    .liCount{
      display:inline-block;
      font-size:40px;
      list-style-type:none;
      padding:10px;
      text-transform:uppercase;
      font-weight: bolder;
      justify-content: center;
    }
    .liCount span2{
      display:block;
      font-size:90px;
      text-align:center;
    }
    /******************div - COMPLETE**************************************/
    .complete{
      position:relative;
      min-height:500px;
    }
    #complete-info{
      display:flex;
      justify-content: center;
      align-items: center;
      font-weight: bolder; 
      margin-top:90px;
      height:150px;
      animation: verde-neon 6s infinite alternate;
    }
    .complete-title{
      position:relative;
      text-align: center;
      animation:complete 6s infinite; 
      letter-spacing: .2rem;
      top: 70px;
      width:70%;
      font-weight: bolder;
      margin-left: auto;
      margin-right: auto; 
    }
    @keyframes complete{
      0%{
        color:rgb(233,13,13);
      }
      50%{
        color:rgb(64,233,13);
        transform:scale(1.5);
      }
      75%{
        color:rgb(0,38,253);
      }
      100%{
        color:rgb(233,211,13);
      }
    }
    #complete-button{
        width:40%;
        border-radius:20px;
        margin-top:50px;
        margin-bottom:40px;
        border:none;
        background:rgba(13, 145, 33, 0.4); 
        color:white;
        font-size: 25px;
        font-weight:bolder;
        cursor:pointer;
        outline:none;
        transition:all 0.2s ease-in;
        margin-left: 30%;
      }
      #complete-button:hover{
        /*filter:brightness(170%);*/
        background-color: #073614;
        transform:translate(0px, -9px);
      }
    .lineadivreloj p{
      color:transparent;
      margin-top:30px;
    }
  /* ------------------------- */
  /* Animaciones */
  /* ------------------------- */
  @keyframes verde-neon {
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100% {
      text-shadow: 9px 9px 18px #b6eca4, 
             3px 3px 5px #abcea1, 
             -3px -3px 5px #20610e, 
             -9px -9px 27px #b6eca4;
    }
    10%, 15%, 60% {
      text-shadow: none;
    }
  }
  /* --------------------------------- */
  /* LIQUIDWAVE WATER - TO DO LIST APP */
  /* --------------------------------- */
    .liquidwave{
        position:relative;
        margin-bottom:20px;
        min-width:60vw;
        min-height:20vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .liquidwave h2{
        position:absolute;
        color:#fff;
        transform:translate (-50%,-50%);
        font-size:8em;
        font-weight:900; 
      }
      .liquidwave h2:nth-child(1){
        color:transparent;
        -webkit-text-stroke:2px #03a9f4;
        text-shadow:  -2px 2px 0px #07014a,
                      -4px 4px 0px #07014a,
                      -6px 6px 0px #07014a,
                      -8px 8px 0px #07014a,
                      -18px 18px 20px rgba(0,0,0,0.5),
                      -18px 18px 50px rgba(0,0,0,0.5);    
      }
      .liquidwave h2:nth-child(2){
        color:#0d87c0;
        opacity:0.5;
        animation:animateliquid 4s ease-in-out infinite; 
      }
      .liquidwave h2:nth-child(3){
        color:#0363c3;
        animation:animateliquid 5s ease-in-out infinite; 
      }
      @keyframes animateliquid
          {
              0%,100%
              {
                  clip-path:polygon(0% 46%, 16% 45%, 34% 52%, 50% 61%, 68% 65%, 85% 61%, 100% 53%, 100% 100%, 0% 100% );
              }
              50%
              {
                  clip-path:polygon(0 66%, 14% 73%, 34% 76%, 50% 71%, 64% 62%, 79% 55%, 100% 51%, 100% 100%, 0% 100% );
              }
          }